@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    font-size: 1.6rem;
    background-color: #fafafa;
    font-family: "Karla", sans-serif;
    line-height: 1.6;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
p{
    word-break: break-all;
}
.container{
    padding: 0 2.5rem;
}



/* start of header */
.header-main{
    width: 100%;
}
.container{
    margin:0 auto;
    width: 100%;
}
.header{
    width: 100%;
}
.logo a{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 1px;
}
.logo{
    text-align: center;
    padding: 1rem;
}
.menu{
    background-color: white;
    margin-top: 2rem;
    text-align: center;
}
.menu a{
    display: block;
    padding: .9rem 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    background-color: white;
}
.menu li{
    border-bottom: .5rem solid #fafafa;
}

/* header page tablet */
@media(min-width:360px){
    .menu li{
        display: inline-block;
    }
    .header{
        padding-top: 3rem;
    }
    .menu a{
        font-size: 1.2rem;
    }
}

/* about page desktop */
@media(min-width:768px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container{
        margin: 0 auto;
        max-width: 1025px;
    }
}

/* end of header */



/* start of about */
.about{
    text-align: center;
}
.col-2-1{
    margin-bottom: 2rem;
}
.col-2-2 p{
    color: gray;
    text-align: center;
}
/* about page tablet */
@media(min-width:550px){
    .about{
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
    }
    .col-2-1{
        width: 40%;
    }
    .col-2-2{
        width: 60%;
    }
    .col-2-2 p{
        text-align: left;
    }
    .about-main{
        margin-top: 4rem;
    }
}
/* end of about */

/* start of title */
.title-main{
    margin-top: 50px;
    margin-bottom: 30px;
}
.title{
    text-align: center;
    text-transform: uppercase;
}
.title h3{
    color: #333;
    font-size: 18px;
}
/* end of title */

/* start of protfilo-main */
.box{
    text-align: center;
    margin-bottom: 3rem;
    color: gray;
}
.box h3{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 800;
    color: #333;

}
@media(min-width:500px){
    .box{
        width: 46%;
        margin-right: 3%;
    }
    .portfolio{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(min-width:1000px){
    .box{
        width: 31%;
        margin-right: 22px;
    }

    .portfolio{
        display: flex;
    }
}
/* end of protfolio */

/* start of contact-main */
.contact-main{
    width: 100%;
}
.contact{
    text-align: center;
}
.contact h3{
    color: #333;
    padding-bottom: 20px;
}
.contact p{
    color:gray ;
    padding-bottom: 20px;
}

/* end of contact-main */


/* start of footer-main */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ECECEC;
}
.footer .logo a{
    font-size: 12px;
    text-transform: uppercase;
}
.footer .back{
    text-transform: uppercase;
    font-size: 12px;
}
@media(max-width:500px){
    .footer .menu{
        display: none;
    }
    footer .back{
        font-size: 17px;
    }
    .footer .logo a{
        font-size: 12px;
    }
}
@media(min-width:500px){
    .footer ,menu{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        font-size: 1.2rem;
    }
    .footer .back{
        display: none;
    }
   
}
@media(min-width:1000px){
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
 
}
/* end of footer */